## Punto 3

Importar el dataset

In [1]:
import pandas as pd
df = pd.read_csv("Horror Movies IMDb.csv", sep=",")   # Creacion de un nuevo dataframe a partir de un dataset en un csv, tiene mas argumentos como header, nrows, na_filter, sep

Imprimir los primeros 5 datos

In [2]:
df.head(5)

,Movie Title,Movie Year,Runtime,Genre,Rating,Director,Votes,Gross
0,Alien,1979,117,"Horror, Sci-Fi",8.5,Ridley Scott,"9,05,275",$78.90M
1,Psycho,1960,109,"Horror, Mystery, Thriller",8.5,Alfred Hitchcock,"6,89,068",$32.00M
2,The Shining,1980,146,"Drama, Horror",8.4,Stanley Kubrick,"10,51,582",$44.02M
3,The Thing,1982,109,"Horror, Mystery, Sci-Fi",8.2,John Carpenter,"4,39,793",$13.78M
4,Tumbbad,2018,104,"Drama, Fantasy, Horror",8.2,Rahi Anil Barve,"53,297",NaN

Encontrar la longitud del dataset

In [3]:
len(df) # Cantidad de columnas o registros del dataset

836

Imprimir los encabezados

In [4]:
df.columns

Index(['Movie Title', 'Movie Year', 'Runtime', 'Genre', 'Rating', 'Director',
       'Votes', 'Gross'],
      dtype='object')

Obtener un sub dataFrame con pel√≠culas desde 1980 hasta la actualidad

In [5]:
df_1980_present = df[df['Movie Year'] >= 1980]
df_1980_present

,Movie Title,Movie Year,Runtime,Genre,Rating,Director,Votes,Gross
2,The Shining,1980,146,"Drama, Horror",8.4,Stanley Kubrick,"10,51,582",$44.02M
3,The Thing,1982,109,"Horror, Mystery, Sci-Fi",8.2,John Carpenter,"4,39,793",$13.78M
4,Tumbbad,2018,104,"Drama, Fantasy, Horror",8.2,Rahi Anil Barve,"53,297",NaN
10,The Blue Elephant,2014,170,"Drama, Horror, Mystery",8.0,Marwan Hamed,"29,151",NaN
11,Shaun of the Dead,2004,99,"Comedy, Horror",7.9,Edgar Wright,"5,72,237",$13.54M
...,...,...,...,...,...,...,...,...
830,BloodRayne,2005,95,"Action, Fantasy, Horror",3.0,Uwe Boll,"36,527",$2.41M
831,Troll 2,1990,95,"Comedy, Fantasy, Horror",2.9,Claudio Fragasso,"33,908",NaN
832,Laxmii,2020,141,"Action, Comedy, Horror",2.5,Raghava Lawrence,"58,053",NaN
833,Alone in the Dark,2005,96,"Action, Horror, Sci-Fi",2.4,Uwe Boll,"46,403",$5.18M
834,House of the Dead,2003,90,"Action, Adventure, Horror",2.1,Uwe Boll,"38,041",$10.25M

Dado el sub dataFrame anterior: encontrar la pel√≠cula m√°s corta, la menos rentable y el promedio
de duraci√≥n

In [6]:
# Encontrar la pel√≠cula m√°s corta en el sub dataFrame
pelicula_mas_corta = df_1980_present.loc[df_1980_present['Runtime'].idxmin()]
print("Pel√≠cula m√°s corta:")
print(pelicula_mas_corta)

print("")

# Encontrar la pel√≠cula menos rentable en el sub dataFrame
df_1980_present_con_gross = df_1980_present.dropna(subset=['Gross']).copy()
df_1980_present_con_gross.loc[:, 'Gross'] = df_1980_present_con_gross['Gross'].replace('[\$,M]', '', regex=True).astype(float)

# Filtrar las pel√≠culas con Gross mayor a 0
df_1980_present_con_gross = df_1980_present_con_gross[df_1980_present_con_gross['Gross'] >= 0]

# Encontrar la pel√≠cula menos rentable
pelicula_menos_rentable = df_1980_present_con_gross.loc[df_1980_present_con_gross['Gross'].idxmin()]
print("Pel√≠cula menos rentable:")
print(pelicula_menos_rentable)

print("")

# Calcular el promedio de duraci√≥n en el sub dataFrame
promedio_duracion = df_1980_present['Runtime'].mean()
print("Promedio de duraci√≥n:")
print(promedio_duracion)

Pel√≠cula m√°s corta:
Movie Title            Host II
Movie Year                2020
Runtime                     57
Genre          Horror, Mystery
Rating                     6.5
Director            Rob Savage
Votes                   34,122
Gross                      NaN
Name: 297, dtype: object

Pel√≠cula menos rentable:
Movie Title              Ginger Snaps
Movie Year                       2000
Runtime                           108
Genre          Drama, Fantasy, Horror
Rating                            6.8
Director                 John Fawcett
Votes                          49,563
Gross                             0.0
Name: 202, dtype: object

Promedio de duraci√≥n:
101.10695876288659

C:\Users\David\AppData\Local\Temp\ipykernel_11668\4062286433.py:10: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_1980_present_con_gross.loc[:, 'Gross'] = df_1980_present_con_gross['Gross'].replace('[\$,M]', '', regex=True).astype(float)

Encontrar la desviaci√≥n est√°ndar de las calificaciones de la pel√≠cula en el sub dataFrame

In [7]:
# Encontrar la desviaci√≥n est√°ndar de las calificaciones de la pel√≠cula en el sub dataFrame
desviacion_estandar_rating = df_1980_present['Rating'].std()
desviacion_estandar_rating

0.8838861854481449

Encontrar el promedio de votos agrupados g√©nero

In [8]:
# Encontrar el promedio de votos agrupados por g√©nero
df_genero = df.copy()
df_genero['Votes'] = df_genero['Votes'].str.replace(',', '').astype(int)
promedio_votos_genero = df_genero.groupby('Genre')['Votes'].mean()
promedio_votos_genero

Genre
Action, Adventure, Comedy      70572.666667
Action, Adventure, Crime       81017.000000
Action, Adventure, Drama       75749.166667
Action, Adventure, Fantasy    179800.000000
Action, Adventure, Horror     161026.047619
                                  ...
Horror, Mystery, Thriller     121543.316327
Horror, Romance, Sci-Fi        29941.000000
Horror, Sci-Fi                 92929.470588
Horror, Sci-Fi, Thriller      119336.368421
Horror, Thriller               82853.555556
Name: Votes, Length: 79, dtype: float64

Encontrar los directores y el n√∫mero de ocurrencias en el dataset, ordenados descendentemente

In [9]:
# Encontrar los directores y el n√∫mero de ocurrencias en el dataset, ordenados descendentemente
directores_ocurrencias = df['Director'].value_counts() # Est√° ordenado descendentemente por defecto
directores_ocurrencias

John Carpenter          11
Wes Craven              11
David Cronenberg         8
James Wan                7
Guillermo del Toro       7
                        ..
Bradley King             1
Jean-Baptiste Andrea     1
George Miller            1
William Peter Blatty     1
Harold P. Warren         1
Name: Director, Length: 544, dtype: int64

Encontrar la pel√≠culas mejor calificadas y que pertenezcan incluyan estos 3 g√©neros (Horror,
Mystery, Sci-Fi)

In [10]:
# Encontrar las pel√≠culas mejor calificadas que incluyan los g√©neros Horror, Mystery y Sci-Fi
peliculas_mejor_calificadas = df[
    df['Genre'].str.contains('Horror') &
    df['Genre'].str.contains('Mystery') &
    df['Genre'].str.contains('Sci-Fi')
].sort_values(by='Rating', ascending=False)

peliculas_mejor_calificadas

,Movie Title,Movie Year,Runtime,Genre,Rating,Director,Votes,Gross
3,The Thing,1982,109,"Horror, Mystery, Sci-Fi",8.2,John Carpenter,"4,39,793",$13.78M
136,Timecrimes,2007,92,"Horror, Mystery, Sci-Fi",7.1,Nacho Vigalondo,"66,167",$0.04M
184,Nope,2022,130,"Horror, Mystery, Sci-Fi",6.8,Jordan Peele,"2,32,097",$123.28M
204,eXistenZ,1999,97,"Horror, Mystery, Sci-Fi",6.8,David Cronenberg,"1,03,653",$2.84M
253,Bird Box,2018,124,"Horror, Mystery, Sci-Fi",6.6,Susanne Bier,"3,60,116",NaN
260,The Faculty,1998,104,"Horror, Mystery, Sci-Fi",6.6,Robert Rodriguez,"1,28,887",$40.06M
307,Possessor,2020,103,"Horror, Mystery, Sci-Fi",6.5,Brandon Cronenberg,"41,017",NaN
323,Time Lapse,2014,104,"Horror, Mystery, Sci-Fi",6.5,Bradley King,"47,416",NaN
433,Color Out of Space,2019,111,"Horror, Mystery, Sci-Fi",6.2,Richard Stanley,"52,020",NaN
459,Open Grave,2013,102,"Horror, Mystery, Sci-Fi",6.2,Gonzalo L√≥pez-Gallego,"30,633",NaN
419,The Thing I,2011,103,"Horror, Mystery, Sci-Fi",6.2,Matthijs van Heijningen Jr.,"1,39,897",$16.93M
525,Vivarium,2019,97,"Horror, Mystery, Sci-Fi",5.9,Lorcan Finnegan,"64,794",NaN
534,The Void I,2016,90,"Horror, Mystery, Sci-Fi",5.9,Jeremy Gillespie,"39,049",$0.15M
536,The Fourth Kind,2009,98,"Horror, Mystery, Sci-Fi",5.9,Olatunde Osunsanmi,"79,762",$25.46M
580,The Relic,1997,110,"Horror, Mystery, Sci-Fi",5.8,Peter Hyams,"29,056",$33.96M
668,Cube¬≤: Hypercube,2002,94,"Horror, Mystery, Sci-Fi",5.5,Andrzej Sekula,"68,747",NaN
680,In the Tall Grass,2019,101,"Horror, Mystery, Sci-Fi",5.4,Vincenzo Natali,"60,139",NaN
728,Apollo 18,2011,86,"Horror, Mystery, Sci-Fi",5.2,Gonzalo L√≥pez-Gallego,"56,777",$17.69M
729,The Lazarus Effect,2015,83,"Horror, Mystery, Sci-Fi",5.2,David Gelb,"44,970",$25.80M
739,Halloween III: Season of the Witch,1982,98,"Horror, Mystery, Sci-Fi",5.1,Tommy Lee Wallace,"57,269",$14.40M